/* ---------------------------------------- Document ---------------------------------------------- */
.centered {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #0077c5;
  font-size: 12px;
}

body {
  background-color: #eceef1;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* -------------------------------Nav bar--------------------------------------- */
.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.nav-wrapper {
  display: flex;
}

fieldset p {
  font-size: 10px;
}

footer p {
  margin: 5px auto;
  width: 40;
  text-align: center;
  font-size: 12px;
  color: #505050;
}

.nav-text p {
  margin: 0;
  font-size: smaller;
}

.nav-text {
  margin-right: 15px;
}

.header-button {
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  color: white;
  align-items: center;
  padding:0 20px;
  display: flex;
  background-color: #0077c5;
  cursor: pointer;
}

button span {
  margin-right: 2px;
  font-size: 16px;
}

/* ----------------------------------------Title------------------------------------------ */
.header-title {
  padding: 20px0;
}

.header-title img {
  width: 118px;
  height: 35px;
}

.header-logos {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
}

.header-logos li {
  display: flex;
  align-items: center;
  font-size: 22px;
  margin:0 10px;
}

.header-logos img {
  height: 23px;
  width: 23px;
  margin: 0 4px 0 0;
}

/* ------------------------------------------ Form ------------------------------------------------- */
.form-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.form-section-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 16px 16px 0 16px;
  border: 1px solid #4c4c4c;
  border-width: 1px 1px0 1px;
  border-color: #cbcbcb;
}

.form-section-wrapper h1 {
  color: #4c4c4c;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-p {
  padding-top: 10px;
  margin-block-end: 0.5em;
  font-size: 14px;
  color: #4c4c4c;
}

fieldset {
  margin: 10px0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-width: 0;
}

fieldset i {
  position: absolute;
  top: 48%;
  right: 6%;
  color: #c7c7cd;
}

.top-input {
  width: 87%;
  height: 30px;
  border: solid 2px #eceef1;
  padding-left: 2%;
  padding-right: 10%;
  outline: none;
  margin: 0em;
}

fieldset label {
  margin-bottom: 3%;
  font-size: smaller;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.form-footer p {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: #757575;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 90%;
  line-height: 150%;
}

.submit-button {
  display: flex;
  padding: 10px 12px;
  margin: 4% auto;
  width: 95%;
  background: #0077c5;
  border-radius: 4px;
  border:0 solid #4c4c4c;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.form-section-footer {
  background-color: #eceef1;
  padding: 16px 16px;
  border-style: solid;
  border-color: #cbcbcb;
  border-width: 0 1px 1px 1px;
  font-size: 10px;
  text-align: center;
  color: #8d9096;
}

.form-section-footer a {
  font-size: 10px;
}

/* ------------------------------------------ Footer ------------------------------------------------- */

.anchor-tag-footer {
  list-style-type: none;
  padding-inline-start:0;
  margin-block-end: 0em;
}

.anchor-tag-footer li {
  margin:0 5px 0 5px;
  font-style: none;
}

.anchor-tag-footer a {
  color: black;
}

.anchor-tag-footer a:hover {
  text-decoration: underline;
}

/* ------------------------------------------ Floating Widget ------------------------------------------------- */
.bottom-widget {
  display: block;
  position: fixed;
  bottom:0;
  right: 5%;
  font-family: inherit;
  font-size: 14px;
  background-color: #6b6c72;
  border-radius: 3px;
  z-index: 100;
  cursor: pointer;
  box-sizing: border-box;
}

.bottom-widget div {
  padding: 10px 12px;
  vertical-align: middle;
  color: #fff;
  float: left;
}
