/* ---------------------------------------- Document ---------------------------------------------- */

* {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.centered {
    display: flex;
    justify-content: center;
}

/* -------------------------------Nav bar--------------------------------------- */
.nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: red;
    padding: 10px 30px;
}

.nav-wrapper {
    display: flex;
    background-color: pink;
}

.nav-text p{
    margin: 0;
    font-size: smaller;
}

.nav-text a{
    text-decoration: none;
    color: #0077C5;
    font-size: smaller;
}

.nav-text {
    margin-right: 15px;
}

button {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    align-items: center;
    padding: 0 20px;
    display: flex;
    
}

button span {
    margin-right: 2px;
}

/* ----------------------------------------Title------------------------------------------ */
.header-title {
    background-color: coral;
    padding: 20px 0px;
}
.header-title img {
    width: 118px;
    height: 35px;
}